<div class="row">
	<div class="col-lg-6">
		<button class="btn btn-primary" {{action 'showModal' }}>New Book</button>
	</div>
	<div class="col-lg-6">
		<div class="input-group">
		  <span class="input-group-addon">Filter</span>
			{{input type="text" value=filtering class="form-control" placeholder="Filter by book name"}}
		</div>
	</div>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Book</th>
			<th>Library</th>
		</tr>
	</thead>
	<tbody>
		{{#each books as |book|}}
			<tr>
				<td {{ action 'showDetails' book }}>{{ book.title }}</td>
				<td {{ action 'showDetails' book }}>{{ book.library.name }}</td>
				<td class="text-right"><button class="btn btn-danger" {{ action 'deleteBook' book}}>Delete</button></td>
			</tr>
		{{/each}}
	</tbody>
</table>
<nav>
  <ul class="pager">
		{{#link-to (query-params  page=prevPage) tagName='li' disabled=prevButton	}}<a href="">Previous</a>{{/link-to}}
		{{#link-to (query-params page=nextPage) tagName='li'  disabled=nextButton }}<a href="">Next</a>{{/link-to}}
  </ul>
</nav>
{{outlet 'modal'}}
